:host {
  display: flex;
  flex: 1;
}

.qr-parser-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.qr-parser-card {
  margin: 20px;
}

.qr-parser-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-parser-icon {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    padding-bottom: 30px;
  }

.invalid-icon {
  color: #800;
}

.valid-icon {
  color: #080;
}

.mat-card-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mat-card-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;

  .item {
    padding-top: 20px;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    overflow: auto;
  }
}
