<div class="mat-typography app-frame mat-app-background" [class.dark-theme]="true" data-cy="application-container">
  <div class="route-container">
    <router-outlet></router-outlet>
  </div>

  <div class="czarec-logo-footer">
    <div class="footer-nav">
      <button mat-button class="footer-nav-button" routerLink="/code">
        <div>Enter Code</div>
        <mat-icon class="footer-nav-icon">keyboard</mat-icon>
      </button>
      <button mat-button class="footer-nav-button" routerLink="/qr">
        <div>Scan QR</div>
        <mat-icon inline=true svgIcon="qr" class="footer-nav-icon"></mat-icon>
      </button>
    </div>
    <div class="footer-home-button">
      <button mat-icon-button class="czarec-logo-button" (click)="goToMain()">
        <mat-icon inline=true svgIcon="logo"></mat-icon>
      </button>
    </div>
  </div>

</div>